In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import scipy
from sklearn.metrics import classification_report,accuracy_score
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from pylab import rcParams
rcParams['figure.figsize'] = 14, 8
RANDOM_SEED = 42
from datetime import datetime
import seaborn as sns

In [2]:
from imblearn.combine import SMOTETomek
from imblearn.under_sampling import NearMiss

In [3]:
db=pd.read_csv('ml_labelled_Data.csv')

In [4]:
df=db[['Day_of_Week' , 'Weather_Conditions' , 'Road_Surface_Conditions'
                          , 'Light_Conditions','Speed_limit','Junction_Detail','Road_Type','Accident_Severity']]
df.head()

,Day_of_Week,Weather_Conditions,Road_Surface_Conditions,Light_Conditions,Speed_limit,Junction_Detail,Road_Type,Accident_Severity
0,5,6,5,4,30,4,3,1
1,6,2,1,1,30,0,0,2
2,4,2,1,1,30,4,3,2
3,0,2,1,4,30,4,3,2
4,1,2,5,0,30,4,3,2

In [5]:
df['Accident_Severity'].value_counts(
)

2    895883
1    138192
0     14500
Name: Accident_Severity, dtype: int64

In [17]:
df2 = df[df['Accident_Severity'] == 2]

In [18]:
df2 = df2.iloc[0:200000,:]
df2['Accident_Severity'].value_counts()

2    200000
Name: Accident_Severity, dtype: int64

In [19]:
df1 = df[df['Accident_Severity'] == 1]

In [20]:
df0 = df[df['Accident_Severity'] == 0]

In [24]:
df_target=pd.concat([df2,df1,df0])
df_target['Accident_Severity'].value_counts()

2    200000
1    138192
0     14500
Name: Accident_Severity, dtype: int64

In [25]:
df.drop(['Accident_Severity'] ,axis = 1)

,Day_of_Week,Weather_Conditions,Road_Surface_Conditions,Light_Conditions,Speed_limit,Junction_Detail,Road_Type
0,5,6,5,4,30,4,3
1,6,2,1,1,30,0,0
2,4,2,1,1,30,4,3
3,0,2,1,4,30,4,3
4,1,2,5,0,30,4,3
...,...,...,...,...,...,...,...
1048570,4,2,1,4,60,4,3
1048571,3,2,3,3,60,4,3
1048572,5,2,3,4,30,9,3
1048573,5,2,5,3,60,9,3
1048574,3,8,5,4,60,9,0

In [27]:
df_final = pd.concat([df,df_target])

In [28]:
#Create independent and Dependent Features
columns = df.columns.tolist()
# Filter the columns to remove data we do not want 
columns = [c for c in columns if c not in ["Accident_Severity"]]
# Store the variable we are predicting 
target = "Accident_Severity"
# Define a random state 
state = np.random.RandomState(42)
X = df_final[columns]
Y = df_final[target]
# Print the shapes of X & Y
print(X.shape)
print(Y.shape)

(1401267, 7)
(1401267,)

In [29]:
nm = NearMiss()
X_res,y_res=nm.fit_resample(X,Y)

In [30]:
X_res.shape,y_res.shape

((87000, 7), (87000,))

In [31]:
import sklearn.model_selection as model_selection
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_res.values, 
                                              y_res.values,test_size=0.20, random_state=99)

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
lr = LogisticRegression()
# Fit the model on the trainng data.
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
sk_report = classification_report(
    digits=6,
    y_true=y_test, 
    y_pred=y_pred)
print("Accuracy", round(accuracy_score(y_pred, y_test)*100,2))
print(sk_report)
pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'], margins=True)

Accuracy 51.43
              precision    recall  f1-score   support

           0   0.602682  0.594093  0.598357      5824
           1   0.347095  0.116510  0.174459      5845
           2   0.495823  0.838946  0.623282      5731

    accuracy                       0.514310     17400
   macro avg   0.481867  0.516516  0.465366     17400
weighted avg   0.481630  0.514310  0.464171     17400

C:\Users\polis\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Predicted     0     1     2    All
Actual
0          3460   782  1582   5824
1          1857   681  3307   5845
2           424   499  4808   5731
All        5741  1962  9697  17400

In [33]:
# Implementing Oversampling for Handling Imbalanced 
smk = SMOTETomek(random_state=42)
X_res,y_res=smk.fit_resample(X,Y)

In [34]:
X_res.head()

,Day_of_Week,Weather_Conditions,Road_Surface_Conditions,Light_Conditions,Speed_limit,Junction_Detail,Road_Type
0,5,6,5,4,30,4,3
1,6,2,1,1,30,0,0
2,4,2,1,1,30,4,3
3,0,2,1,4,30,4,3
4,1,2,5,0,30,4,3

In [ ]:
X_res.shape,y_res.shape

In [ ]:
from collections import Counter
print('Original dataset shape {}'.format(Counter(Y)))
print('Resampled dataset shape {}'.format(Counter(y_res)))

In [ ]:
## RandomOverSampler to handle imbalanced data

from imblearn.over_sampling import RandomOverSampler

In [ ]:
os =  RandomOverSampler(ratio=0.5)

In [ ]:
X_train_res, y_train_res = os.fit_sample(X, Y)

In [ ]:
X_train_res.shape,y_train_res.shape